<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </head>
  <div id="header">
    <h1><%= @title %></h1>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
